## Project 1 Starter

In [2]:
#Dependencies
import pandas as pd
import numpy as npa
import matplotlib as plt
import os
import csv

In [3]:
#reduce file is the data with the 37 questions selected
reduced_file = "OSMI_2016_small_df.csv"
df = pd.read_csv(reduced_file)
df.head(2)

,Are you self-employed?,How many employees does your company or organization have?,Is your employer primarily a tech company/organization?,Is your primary role within your company related to tech/IT?,Does your employer provide mental health benefits as part of healthcare coverage?,"Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?",Does your employer offer resources to learn more about mental health concerns and options for seeking help?,Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?,Do you think that discussing a mental health disorder with your employer would have negative consequences?,Would you feel comfortable discussing a mental health disorder with your coworkers?,...,"If so, what condition(s) were you diagnosed with?",Have you ever sought treatment for a mental health issue from a mental health professional?,What is your age?,What is your gender?,What country do you live in?,What US state or territory do you live in?,What country do you work in?,What US state or territory do you work in?,Which of the following best describes your work position?,Do you work remotely?
0,0,26-100,1.0,NaN,Not eligible for coverage / N/A,No,No,I don't know,No,Maybe,...,"Anxiety Disorder (Generalized, Social, Phobia,...",0,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
1,0,25-Jun,1.0,NaN,No,Yes,Yes,Yes,No,Maybe,...,"Anxiety Disorder (Generalized, Social, Phobia,...",1,29,male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never

#### <span style="color:green">Consolidating Genders into 3 Categories (.replace())</span>

In [4]:
#Reduces the gender column to 3 values: Male, Female, Other

df['What is your gender?'] = df['What is your gender?'].replace({
    'male': 'Male',
    'Male ': 'Male',
    'm': 'Male',
    'man': 'Male',
    'M2F': 'Male',
    'Cis male': 'Male',
    'Male.': 'Male',
    'Male (cis)': 'Male',
    'Man': 'Male',
    'Sex is male': 'Male',
    'cis male': 'Male',
    'Dude': 'Male',
    "I'm a man why didn't you make this a drop down question. You should of asked sex? And I would of answered yes please. Seriously how much text can this take? ":'Male',
    'mail': 'Male',
    'male ': 'Male',
    'Cis Male': 'Male',
    'cisdude': 'Male',
    'cis man': 'Male',
    'MALE': 'Male',
    'M': 'Male',
    'Malr': 'Male'
})

df['What is your gender?'] = df['What is your gender?'].replace({
    'F': 'Female',
    'female': 'Female',
    'F ': 'Female',
    'female ': 'Female',
    'Woman': 'Female',
    'fm': 'Female',
    'f': 'Female',
    'Cis female ': 'Female',
    'Female ': 'Female',
    'woman': 'Female',
    'Sex is Female': 'Female',
    'female/woman': 'Female',
    'Cisgender Female': 'Female',
    "fem":'Female',
    'Female (props for making this a freeform field, though)': 'Female',
    ' Female': 'Female',
    'Cis-woman': 'Female'
})

#temp variable to hold the gender column values(pure laziness ðŸ˜¬)
g = df['What is your gender?']

# changes what is not  Male or Female,  to `other`
for i in range(len(g)):
    if g[i] not in ['Male', 'Female']:
        df['What is your gender?'] = g.replace({g[i]: 'Other'})
        
        
print(f"There are only {df['What is your gender?'].nunique()} different genders now")
      
df['What is your gender?'].value_counts()

There are only 3 different genders now

Male      1056
Female     336
Other       41
Name: What is your gender?, dtype: int64

In [ ]:
# df.head(2)

In [5]:
#get columns headers
numcol = len(df.columns.values)

print(f"We have {numcol} columns")

We have 37 columns

#### <span style="color:yellow">short_col: dictionary with only the Question number (Eg: Q1, Q2 ...)</span>

In [6]:
# short_col is the dictionary with only the Question number (Example: Q1, Q2 ...)

short_cols = {
                    
       'Are you self-employed?': "Q1" ,
       'How many employees does your company or organization have?': "Q2",
       'Is your employer primarily a tech company/organization?': "Q3",
       'Is your primary role within your company related to tech/IT?': "Q4",
       'Does your employer provide mental health benefits as part of healthcare coverage?': "Q5",
       'Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?':"Q6",
       'Does your employer offer resources to learn more about mental health concerns and options for seeking help?':"Q7",
       'Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?': "Q8",
       'Do you think that discussing a mental health disorder with your employer would have negative consequences?': "Q9",
       'Would you feel comfortable discussing a mental health disorder with your coworkers?': "Q10",
       'Would you feel comfortable discussing a mental health disorder with your direct supervisor(s)?': "Q11",
       'Have you heard of or observed negative consequences for co-workers who have been open about mental health issues in your workplace?': "Q12",
       'Do you know local or online resources to seek help for a mental health disorder?': "Q13",
       'If you have been diagnosed or treated for a mental health disorder, do you ever reveal this to clients or business contacts?':"Q14",
       'If you have revealed a mental health issue to a client or business contact, do you believe this has impacted you negatively?': "Q15",
       'If you have been diagnosed or treated for a mental health disorder, do you ever reveal this to coworkers or employees?': "Q16",
       'If you have revealed a mental health issue to a coworker or employee, do you believe this has impacted you negatively?': "Q17",
       'Did you feel that your previous employers took mental health as seriously as physical health?': "Q18",
       'Do you feel that being identified as a person with a mental health issue would hurt your career?': "Q19",
       'Do you think that team members/co-workers would view you more negatively if they knew you suffered from a mental health issue?': "Q20",
       'Have you observed or experienced an unsupportive or badly handled response to a mental health issue in your current or previous workplace?':"Q21",
       'Have your observations of how another individual who discussed a mental health disorder made you less likely to reveal a mental health issue yourself in your current workplace?':"Q22" ,
    
        'Do you have a family history of mental illness?':"Q23",
       'Have you had a mental health disorder in the past?':"Q24",
       'Do you currently have a mental health disorder?':"Q25",
       'If yes, what condition(s) have you been diagnosed with?':"Q26",
       'Have you been diagnosed with a mental health condition by a medical professional?':"Q27",
       'If so, what condition(s) were you diagnosed with?':"Q28",
       'Have you ever sought treatment for a mental health issue from a mental health professional?':"Q29",
       'What is your age?':"Q30",
       'What is your gender?': "Q31",
       'What country do you live in?': "Q32",
       'What US state or territory do you live in?': "Q33",
       'What country do you work in?': "Q34",
       'What US state or territory do you work in?':"Q35",
       'Which of the following best describes your work position?':"Q36",
       'Do you work remotely?':"Q37"
                    
}

In [7]:
#create inverse dictionary with a dictionary comprehension
 #we use the inverse dictionary to display questions in our results
long_cols = {v: k for k, v in short_cols.items()}

# long_cols is the dictionary with the question labels as the values
# - can be used to display only the labels in a dataframe
long_cols

{'Q1': 'Are you self-employed?',
 'Q2': 'How many employees does your company or organization have?',
 'Q3': 'Is your employer primarily a tech company/organization?',
 'Q4': 'Is your primary role within your company related to tech/IT?',
 'Q5': 'Does your employer provide mental health benefits as part of healthcare coverage?',
 'Q6': 'Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?',
 'Q7': 'Does your employer offer resources to learn more about mental health concerns and options for seeking help?',
 'Q8': 'Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?',
 'Q9': 'Do you think that discussing a mental health disorder with your employer would have negative consequences?',
 'Q10': 'Would you feel comfortable discussing a mental health disorder with your coworkers?',
 'Q11': 'Would you feel comfortable discussing a mental health disorder with your direct supervisor(s)?',
 'Q12': 'Have you heard of or observed negative consequences for co-workers who have been open about mental health issues in your workplace?',
 'Q13': 'Do you know local or online resources to seek help for a mental health disorder?',
 'Q14': 'If you have been diagnosed or treated for a mental health disorder, do you ever reveal this to clients or business contacts?',
 'Q15': 'If you have revealed a mental health issue to a client or business contact, do you believe this has impacted you negatively?',
 'Q16': 'If you have been diagnosed or treated for a mental health disorder, do you ever reveal this to coworkers or employees?',
 'Q17': 'If you have revealed a mental health issue to a coworker or employee, do you believe this has impacted you negatively?',
 'Q18': 'Did you feel that your previous employers took mental health as seriously as physical health?',
 'Q19': 'Do you feel that being identified as a person with a mental health issue would hurt your career?',
 'Q20': 'Do you think that team members/co-workers would view you more negatively if they knew you suffered from a mental health issue?',
 'Q21': 'Have you observed or experienced an unsupportive or badly handled response to a mental health issue in your current or previous workplace?',
 'Q22': 'Have your observations of how another individual who discussed a mental health disorder made you less likely to reveal a mental health issue yourself in your current workplace?',
 'Q23': 'Do you have a family history of mental illness?',
 'Q24': 'Have you had a mental health disorder in the past?',
 'Q25': 'Do you currently have a mental health disorder?',
 'Q26': 'If yes, what condition(s) have you been diagnosed with?',
 'Q27': 'Have you been diagnosed with a mental health condition by a medical professional?',
 'Q28': 'If so, what condition(s) were you diagnosed with?',
 'Q29': 'Have you ever sought treatment for a mental health issue from a mental health professional?',
 'Q30': 'What is your age?',
 'Q31': 'What is your gender?',
 'Q32': 'What country do you live in?',
 'Q33': 'What US state or territory do you live in?',
 'Q34': 'What country do you work in?',
 'Q35': 'What US state or territory do you work in?',
 'Q36': 'Which of the following best describes your work position?',
 'Q37': 'Do you work remotely?'}

In [ ]:
# df.columns

In [8]:
# q_col_df is the dataframe with only the question number as the header (Example: Q1, Q2...)
q_cols_df = df.rename(columns= short_cols)

q_cols_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1433 entries, 0 to 1432
Data columns (total 37 columns):
Q1     1433 non-null int64
Q2     1146 non-null object
Q3     1146 non-null float64
Q4     263 non-null float64
Q5     1146 non-null object
Q6     1146 non-null object
Q7     1146 non-null object
Q8     1146 non-null object
Q9     1146 non-null object
Q10    1146 non-null object
Q11    1146 non-null object
Q12    1146 non-null object
Q13    287 non-null object
Q14    287 non-null object
Q15    144 non-null object
Q16    287 non-null object
Q17    287 non-null object
Q18    1264 non-null object
Q19    1433 non-null object
Q20    1433 non-null object
Q21    1344 non-null object
Q22    657 non-null object
Q23    1433 non-null object
Q24    1433 non-null object
Q25    1433 non-null object
Q26    568 non-null object
Q27    1433 non-null object
Q28    711 non-null object
Q29    1433 non-null int64
Q30    1433 non-null int64
Q31    1433 non-null object
Q32    1433 non-null object
Q33    840 non-null object
Q34    1433 non-null object
Q35    851 non-null object
Q36    1433 non-null object
Q37    1433 non-null object
dtypes: float64(2), int64(3), object(32)
memory usage: 414.3+ KB

In [ ]:
# q_cols_df.head(2)

In [9]:
raw_df = df.rename(columns= long_cols)
#raw_df.iloc[:5,:17]
# raw df is the data frame with questions as columns
raw_df.head(2)

,Are you self-employed?,How many employees does your company or organization have?,Is your employer primarily a tech company/organization?,Is your primary role within your company related to tech/IT?,Does your employer provide mental health benefits as part of healthcare coverage?,"Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?",Does your employer offer resources to learn more about mental health concerns and options for seeking help?,Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?,Do you think that discussing a mental health disorder with your employer would have negative consequences?,Would you feel comfortable discussing a mental health disorder with your coworkers?,...,"If so, what condition(s) were you diagnosed with?",Have you ever sought treatment for a mental health issue from a mental health professional?,What is your age?,What is your gender?,What country do you live in?,What US state or territory do you live in?,What country do you work in?,What US state or territory do you work in?,Which of the following best describes your work position?,Do you work remotely?
0,0,26-100,1.0,NaN,Not eligible for coverage / N/A,No,No,I don't know,No,Maybe,...,"Anxiety Disorder (Generalized, Social, Phobia,...",0,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes
1,0,25-Jun,1.0,NaN,No,Yes,Yes,Yes,No,Maybe,...,"Anxiety Disorder (Generalized, Social, Phobia,...",1,29,Male,United States of America,Illinois,United States of America,Illinois,Back-end Developer|Front-end Developer,Never

In [10]:
# create a for loop to add the question number to the question label (Example: Q1- Are you self-employed?)

q_names_cols = {}
for i in range(0,len(df.columns)):
    q_names_cols[df.columns[i]] =   f"Q{i+1}- {df.columns[i]}"

In [11]:
q_names_cols
q_cols_df['Q20'].value_counts()

Maybe                           591
Yes, I think they would         403
No, I don't think they would    348
No, they do not                  49
Yes, they do                     42
Name: Q20, dtype: int64

In [12]:
# Create dataframe the the question name and question label 
q_names_df = df.rename(columns= q_names_cols)

#qnames df is the data frame with the question number and the question label
q_names_df.head(1)

,Q1- Are you self-employed?,Q2- How many employees does your company or organization have?,Q3- Is your employer primarily a tech company/organization?,Q4- Is your primary role within your company related to tech/IT?,Q5- Does your employer provide mental health benefits as part of healthcare coverage?,"Q6- Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?",Q7- Does your employer offer resources to learn more about mental health concerns and options for seeking help?,Q8- Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?,Q9- Do you think that discussing a mental health disorder with your employer would have negative consequences?,Q10- Would you feel comfortable discussing a mental health disorder with your coworkers?,...,"Q28- If so, what condition(s) were you diagnosed with?",Q29- Have you ever sought treatment for a mental health issue from a mental health professional?,Q30- What is your age?,Q31- What is your gender?,Q32- What country do you live in?,Q33- What US state or territory do you live in?,Q34- What country do you work in?,Q35- What US state or territory do you work in?,Q36- Which of the following best describes your work position?,Q37- Do you work remotely?
0,0,26-100,1.0,NaN,Not eligible for coverage / N/A,No,No,I don't know,No,Maybe,...,"Anxiety Disorder (Generalized, Social, Phobia,...",0,39,Male,United Kingdom,NaN,United Kingdom,NaN,Back-end Developer,Sometimes

#### <span style="color:yellow">q_names_df.columns</span>

In [13]:
q_names_df.columns

Index(['Q1- Are you self-employed?',
       'Q2- How many employees does your company or organization have?',
       'Q3- Is your employer primarily a tech company/organization?',
       'Q4- Is your primary role within your company related to tech/IT?',
       'Q5- Does your employer provide mental health benefits as part of healthcare coverage?',
       'Q6- Has your employer ever formally discussed mental health (for example, as part of a wellness campaign or other official communication)?',
       'Q7- Does your employer offer resources to learn more about mental health concerns and options for seeking help?',
       'Q8- Is your anonymity protected if you choose to take advantage of mental health or substance abuse treatment resources provided by your employer?',
       'Q9- Do you think that discussing a mental health disorder with your employer would have negative consequences?',
       'Q10- Would you feel comfortable discussing a mental health disorder with your coworkers?',
       'Q11- Would you feel comfortable discussing a mental health disorder with your direct supervisor(s)?',
       'Q12- Have you heard of or observed negative consequences for co-workers who have been open about mental health issues in your workplace?',
       'Q13- Do you know local or online resources to seek help for a mental health disorder?',
       'Q14- If you have been diagnosed or treated for a mental health disorder, do you ever reveal this to clients or business contacts?',
       'Q15- If you have revealed a mental health issue to a client or business contact, do you believe this has impacted you negatively?',
       'Q16- If you have been diagnosed or treated for a mental health disorder, do you ever reveal this to coworkers or employees?',
       'Q17- If you have revealed a mental health issue to a coworker or employee, do you believe this has impacted you negatively?',
       'Q18- Did you feel that your previous employers took mental health as seriously as physical health?',
       'Q19- Do you feel that being identified as a person with a mental health issue would hurt your career?',
       'Q20- Do you think that team members/co-workers would view you more negatively if they knew you suffered from a mental health issue?',
       'Q21- Have you observed or experienced an unsupportive or badly handled response to a mental health issue in your current or previous workplace?',
       'Q22- Have your observations of how another individual who discussed a mental health disorder made you less likely to reveal a mental health issue yourself in your current workplace?',
       'Q23- Do you have a family history of mental illness?',
       'Q24- Have you had a mental health disorder in the past?',
       'Q25- Do you currently have a mental health disorder?',
       'Q26- If yes, what condition(s) have you been diagnosed with?',
       'Q27- Have you been diagnosed with a mental health condition by a medical professional?',
       'Q28- If so, what condition(s) were you diagnosed with?',
       'Q29- Have you ever sought treatment for a mental health issue from a mental health professional?',
       'Q30- What is your age?', 'Q31- What is your gender?',
       'Q32- What country do you live in?',
       'Q33- What US state or territory do you live in?',
       'Q34- What country do you work in?',
       'Q35- What US state or territory do you work in?',
       'Q36- Which of the following best describes your work position?',
       'Q37- Do you work remotely?'],
      dtype='object')

In [14]:

# Count of tech + non tech workers based on answers to Q4[0.0 or 1.0]
print('Tech or not: ', q_cols_df[(q_cols_df['Q4'] == 0.0) | (q_cols_df['Q4'] == 1.0)]['Q4'].count())
print('Tech: ', q_cols_df[q_cols_df['Q4'] == 1.0]['Q4'].count() )
print('non Tech: ', q_cols_df[q_cols_df['Q4'] == 0.0]['Q4'].count() )

Tech or not:  263
Tech:  248
non Tech:  15

#### <span style="color:yellow">Q4: Is Employee Role in tech? +  Cleanup answers to Q: [19,20,21,29]</span>

In [15]:
# Q4: Is Employee Role in tech?
tech_workers_df = pd.DataFrame(q_cols_df[q_cols_df['Q4'] == 1.0])
# tech_workers.info()

tech_workers_df['Q20'].value_counts().index

tech_workers_df['Q20'] = tech_workers_df['Q20'].replace({
    "Yes, I think they would": "Yes",
    "Yes, they do": "Yes",
    "No, I don't think they would": "No",
    "No, they do not": "No"
    })

tech_workers_df['Q21'] = tech_workers_df['Q21'].replace({
    "Maybe/Not sure": "Maybe",
    "Yes, I observed": "Yes",
    "Yes, I experienced": "Yes",
    })

tech_workers_df['Q19'] = tech_workers_df['Q19'].replace({
    "Yes, I think it would": "Yes",
    "Yes, it has": "Yes",
    "No, I don't think it would": "No",
    "No, it has not": "No"
    })

tech_workers_df['Q29'] = tech_workers_df['Q29'].replace({
    1: "Yes",
    0: "No"
    })

tech_workers_df['Q19'].value_counts().index

In [16]:
tech_workers_df.head(2)

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q28,Q29,Q30,Q31,Q32,Q33,Q34,Q35,Q36,Q37
4,0,25-Jun,0.0,1.0,Yes,No,No,No,Yes,Maybe,...,"Anxiety Disorder (Generalized, Social, Phobia,...",Yes,43,Female,United States of America,Illinois,United States of America,Illinois,Executive Leadership|Supervisor/Team Lead|Dev ...,Sometimes
8,0,26-100,0.0,1.0,I don't know,No,No,I don't know,Yes,Yes,...,"Mood Disorder (Depression, Bipolar Disorder, etc)",Yes,44,Female,United States of America,California,United States of America,California,Support|Back-end Developer|One-person shop,Sometimes

In [17]:
tech_workers_df = tech_workers_df[['Q31', 'Q24', 'Q25', 'Q23', 'Q27', 'Q29', 'Q15']] #excecuted

In [18]:
tech_workers_df.head()

       Q31    Q24    Q25  Q23  Q27  Q29  Q15
4   Female    Yes    Yes  Yes  Yes  Yes  NaN
8   Female    Yes    Yes  Yes  Yes  Yes  NaN
11    Male    Yes    Yes  Yes  Yes  Yes  NaN
13    Male  Maybe  Maybe   No   No   No  NaN
19    Male    Yes    Yes  Yes  Yes  Yes  NaN

#### <span style="color:yellow">tech_workers_gender_group</span>

In [19]:
tech_workers_gender_group = tech_workers_df.groupby('Q31')

In [22]:
tech_workers_gender_group.count()

        Q24  Q25  Q23  Q27  Q29  Q15
Q31
Female   60   60   60   60   60    0
Male    182  182  182  182  182    0
Other     6    6    6    6    6    0

In [23]:
tech_workers_gender_group = tech_workers_gender_group[['Q31', 'Q27', 'Q29']]

In [24]:
tech_workers_gender_group

In [25]:
tech_workers_gender_group.count()

        Q31  Q27  Q29
Q31
Female   60   60   60
Male    182  182  182
Other     6    6    6

In [30]:
tech_workers_gender_group[tech_workers_gender_group.count()['Q27'] == "Yes"]

TypeError: invalid type comparison

In [39]:
tech_worker_count_df = pd.DataFrame(tech_workers_gender_group.count()['Q31'])

In [42]:
tech_workers_gender_group.count()['Q31']

Q31
Female     60
Male      182
Other       6
Name: Q31, dtype: int64

In [40]:
tech_worker_count_df

        Q31
Q31
Female   60
Male    182
Other     6

#### <span style="color:yellow">tech workers diagnosed by MH pro</span>

In [32]:
tech_workers_df[tech_workers_df['Q27'] == "Yes"][['Q31','Q27','Q29']].groupby('Q31').count()
# tech_workers_df[tech_workers_df['Q27'] == "Yes"][['Q31','Q27']].groupby('Q31').count()
# tech_workers_df[tech_workers_df['Q27'] == "Yes"][['Q31','Q27']].info()

        Q27  Q29
Q31
Female   40   40
Male     82   82
Other     5    5

In [41]:
tech_workers_df[tech_workers_df['Q27'] == "Yes"].groupby('Q31').count()
tech_workers_df[tech_workers_df['Q27'] == "Yes"].groupby('Q31').count()

        Q24  Q25  Q23  Q27  Q29  Q15
Q31
Female   40   40   40   40   40    0
Male     82   82   82   82   82    0
Other     5    5    5    5    5    0

In [33]:
diagnosed = tech_workers_df[tech_workers_df['Q27'] == "Yes"]

In [34]:
diagnosed.head(2)

      Q31  Q24  Q25  Q23  Q27  Q29  Q15
4  Female  Yes  Yes  Yes  Yes  Yes  NaN
8  Female  Yes  Yes  Yes  Yes  Yes  NaN

In [171]:
diagnosed_by_gender = diagnosed.groupby('Q31')

In [172]:
diagnosed_by_gender.count()

        Q24  Q25  Q23  Q27  Q29  Q15
Q31
Female   40   40   40   40   40    0
Male     82   82   82   82   82    0
Other     5    5    5    5    5    0

In [137]:
# diagnosed_by_gender_reduced = diagnosed_by_gender[['Q27', 'Q29']]
diagnosed_by_gender[['Q27', 'Q29']].count()

        Q27  Q29
Q31
Female   40   40
Male     82   82
Other     5    5

        Q24  Q25  Q23  Q27  Q29  Q15
Q31
Female   40   40   40   40   40    0
Male     82   82   82   82   82    0
Other     5    5    5    5    5    0

In [114]:
# # tech_workers_df = tech_workers_df[['Q25', ]]
# tech_workers_df[['Q31', 'Q24', 'Q25', 'Q23', 'Q27', 'Q29', 'Q15']]
# tech_workers_df['Q15'].count()
# tech_workers_df['Q20'].value_counts()
# tech_workers_df['Q21'].value_counts()

# print(f"Q8(anonymity):\n{tech_workers_df['Q8'].value_counts()}\n")
# print(f"Q19:\n{tech_workers_df['Q19'].value_counts()}\n")
# print(f"Q23(Family History):\n{tech_workers_df['Q23'].value_counts()}\n")
# print(f"Q24(Disorder in Past):\n{tech_workers_df['Q24'].value_counts()}\n")
# print(f"Q25(Disorder Currently):\n{tech_workers_df['Q25'].value_counts()}\n")
# print(f"Q27:\n{tech_workers_df['Q27'].value_counts()}\n")
# print(f"Q29:\n{tech_workers_df['Q29'].value_counts()}\n")
      
# print(f"Q30(Ages):\n{tech_workers_df['Q30'].value_counts()}\n")
# tech_workers_df.head(2)
# tech_workers_df

In [132]:
tech_workers_df.head()

       Q31    Q24    Q25  Q23  Q27  Q29  Q15
4   Female    Yes    Yes  Yes  Yes  Yes  NaN
8   Female    Yes    Yes  Yes  Yes  Yes  NaN
11    Male    Yes    Yes  Yes  Yes  Yes  NaN
13    Male  Maybe  Maybe   No   No   No  NaN
19    Male    Yes    Yes  Yes  Yes  Yes  NaN

In [198]:
tech_workers_genders_df = tech_workers_df.groupby('Q31')

In [199]:
tech_workers_genders_df['Percentages %'] = round((tech_workers_genders_df['Count']/tech_workers_genders_df['Count'].sum())*100,2)

KeyError: 'Column not found: Count'

##### <span style="color:yellow"># Do not run from here till next marker of : /</span>

In [31]:
tech_workers_genders_df['Percentages %'] = round((tech_workers_genders_df['Count']/tech_workers_genders_df['Count'].sum())*100,2)
tech_workers_genders_df = tech_workers_genders_df.sort_values('Count', ascending=False)
tech_workers_genders_df

NameError: name 'tech_workers_genders_df' is not defined

In [ ]:
survey_genders = pd.DataFrame(df['What is your gender?'].value_counts())
# survey_genders['Percentage %'] = round((survey_genders['What is your gender?']/survey_genders['What is your gender?'].sum())*100,2)
survey_genders

### Workers in Tech Field

In [39]:
tech_workers_count =  tech_workers_df['Q4'].count()
print(f"tech_workers_count: {tech_workers_count}")
print()
tech_workers_count_df = pd.DataFrame({"Workers in Tech Field": [tech_workers_count]})

tech_workers_count: 248

In [40]:
tech_workers_count_df

   Workers in Tech Field
0                    248

In [ ]:
# tech_workers_df
tech_workers_genders_df['Percentages %'] = round((tech_workers_genders_df['Count']/tech_workers_genders_df['Count'].sum())*100,2)
tech_workers_genders_df = tech_workers_genders_df.sort_values('Count', ascending=False)
tech_workers_genders_df

##### <span style="color:yellow"># Do not run from here till  marker : / ABOVE</span>

### Tech Workers by Gender

In [197]:
# tech_workers_genders =  tech_workers_df.groupby('Q31', as_index = False)

# tech_workers_genders_df = pd.DataFrame(tech_workers_genders['Q31'].count())

pd.DataFrame(tech_workers_genders.count())
# tech_workers_genders_df
pd.DataFrame(tech_workers_genders.count())

,Q31,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q27,Q28,Q29,Q30,Q32,Q33,Q34,Q35,Q36,Q37
0,Female,60,60,60,60,60,60,60,60,60,...,60,38,60,60,60,44,60,44,60,60
1,Male,182,182,182,182,182,182,182,182,182,...,182,82,182,182,182,108,182,108,182,182
2,Other,6,6,6,6,6,6,6,6,6,...,6,5,6,6,6,3,6,3,6,6

In [ ]:
# =============do not run yet below==============

tech_workers_genders =  tech_workers_df.groupby('Q31', as_index = False)  #excecuted 

# tech_workers_genders_df.rename(columns={'Q31': 'Count'}, inplace= True)

# tech_workers_genders_df = pd.DataFrame(tech_workers_genders['Q31'].count())

tech_workers_genders_df['Count %'] = round((tech_workers_genders_df['Count']/tech_workers_genders_df['Count'].sum())*100,2)
tech_workers_genders_df = tech_workers_genders_df.sort_values('Count', ascending=False)
tech_workers_genders_df.index.name = ""

tech_workers_genders = tech_workers_genders.rename(columns={'Q31': 'Gender Count'})

In [110]:
# tech_workers_genders =  tech_workers_df.groupby('Q31', as_index = False)

# tech_workers_genders_df = pd.DataFrame(tech_workers_genders['Q31'].count())


# tech_workers_genders.count()
tech_workers_genders.count()

,Q31,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,...,Q27,Q28,Q29,Q30,Q32,Q33,Q34,Q35,Q36,Q37
0,Female,60,60,60,60,60,60,60,60,60,...,60,38,60,60,60,44,60,44,60,60
1,Male,182,182,182,182,182,182,182,182,182,...,182,82,182,182,182,108,182,108,182,182
2,Other,6,6,6,6,6,6,6,6,6,...,6,5,6,6,6,3,6,3,6,6

In [ ]:
tech_workers_genders_df['Count %'] = round((tech_workers_genders_df['Count']/tech_workers_genders_df['Count'].sum())*100,2)

# tech_workers_genders_df.drop(columns=['Percentages %']) 
tech_workers_genders_df = tech_workers_genders_df[['Count', 'Count %', 'Diagnosed by MH Professional', 'Diagnosed %']]
tech_workers_genders_df

In [ ]:
tech_workers_genders_df['Diagnosed %'] = round((tech_workers_genders_df['Diagnosed by MH Professional']/tech_workers_genders_df['Count']*100),2)

In [ ]:
tech_workers_genders_df

In [ ]:
tech_workers_genders_df['Diagnosed by MH Professional'] = tech_diagnosed_df['Diagnosed by MH Professional']
tech_workers_genders_df

### Tech Workers with MH Disorders

In [86]:
workers_with_disorders_df = tech_workers_df[['Q31', 'Q27', 'Q29', 'Q25', 'Q24', 'Q23']] #excecuted

      Q31  Q27  Q29  Q25  Q24  Q23
4  Female  Yes  Yes  Yes  Yes  Yes
8  Female  Yes  Yes  Yes  Yes  Yes

In [94]:
workers_with_disorders_df = workers_with_disorders_df[workers_with_disorders_df['Q27'] == "Yes"] #excecuted

In [96]:
workers_with_disorders_df.head()

       Q31  Q27  Q29  Q25  Q24           Q23
4   Female  Yes  Yes  Yes  Yes           Yes
8   Female  Yes  Yes  Yes  Yes           Yes
11    Male  Yes  Yes  Yes  Yes           Yes
19    Male  Yes  Yes  Yes  Yes           Yes
26    Male  Yes  Yes  Yes  Yes  I don't know

In [97]:
workers_with_disorders_df = workers_with_disorders_df.rename(columns={
    'Q31': 'Gender' ,
    'Q27': 'Diagnosed by MH Professional',
    'Q29': 'Sought MH Treatment by MH Professional?',
    'Q25': 'Has MH Disorder',
    'Q24': 'Had MH Disorder in the Past',
    'Q23': 'Has Family History of MH Disorder'
})

In [98]:
workers_with_disorders_df.head()

,Gender,Diagnosed by MH Professional,Sought MH Treatment by MH Professional?,Has MH Disorder,Had MH Disorder in the Past,Has Family History of MH Disorder
4,Female,Yes,Yes,Yes,Yes,Yes
8,Female,Yes,Yes,Yes,Yes,Yes
11,Male,Yes,Yes,Yes,Yes,Yes
19,Male,Yes,Yes,Yes,Yes,Yes
26,Male,Yes,Yes,Yes,Yes,I don't know

In [100]:
gender_group = workers_with_disorders_df.groupby('Gender')  #excecuted

In [101]:
gender_group.count()

,Diagnosed by MH Professional,Sought MH Treatment by MH Professional?,Has MH Disorder,Had MH Disorder in the Past,Has Family History of MH Disorder
Gender,,,,,
Female,40,40,40,40,40
Male,82,82,82,82,82
Other,5,5,5,5,5

In [103]:
tech_diagnosed_df = pd.DataFrame(gender_group['Diagnosed by MH Professional'].count())

In [105]:
tech_diagnosed_df

        Diagnosed by MH Professional
Gender
Female                            40
Male                              82
Other                              5

In [106]:
tech_diagnosed_df['Percentage %'] =  round((tech_diagnosed_df['Diagnosed by MH Professional'] / tech_diagnosed_df['Diagnosed by MH Professional'].sum()*100), 2)

In [107]:
tech_diagnosed_df

        Diagnosed by MH Professional  Percentage %
Gender
Female                            40         31.50
Male                              82         64.57
Other                              5          3.94

In [ ]:
tech_diagnosed_df = tech_diagnosed_df.sort_values('Diagnosed by MH Professional', ascending= False)
tech_diagnosed_df

In [ ]:
sought_treatment = workers_with_disorders_df[workers_with_disorders_df['Sought MH Treatment by MH Professional?'] == "Yes"].groupby('Gender')

sought_treatment = pd.DataFrame(sought_treatment['Sought MH Treatment by MH Professional?'].count())
sought_treatment_sum = sought_treatment['Sought MH Treatment by MH Professional?'].sum()
sought_treatment['Percentage %'] = round((sought_treatment['Sought MH Treatment by MH Professional?']/sought_treatment_sum)*100, 2)
sought_treatment

In [ ]:
gender_group['Has MH Disorder'].value_counts()

In [ ]:
gender_group['Had MH Disorder in the Past'].value_counts()

In [ ]:
family_history = workers_with_disorders_df[workers_with_disorders_df['Has Family History of MH Disorder'] == "Yes"].groupby('Gender')

family_history_df = pd.DataFrame(family_history['Has Family History of MH Disorder'].count())

family_history_df

In [ ]:
# gender_group['']

In [ ]:
colors=["royalblue","skyblue"]
labels= ["Yes", "No"]
plt.title("People in Tech/IT dignosed with Mental Health Condition", fontsize=14, loc='center')
plt.pie(mhcond, startangle=90,autopct="%1.1f%%",colors=colors, labels=labels)
plt.savefig('Diagnosed_MentalHeatlCondition.svg', format='svg', dpi=1200)
plt.show()